
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0 0 100px;
    padding: 25px;
}

.social {
    text-align: right
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0;
}

.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none
}

.social a {
    display: block;
    color: #74808a;
    padding: 10px
}

.social a:hover {
    color: #3498db
}